/*rest css*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; 
    -webkit-touch-callout: none; 
     scrollbar-width: none; 
  -ms-overflow-style: none;  
  overflow: hidden; 
  
}
body::-webkit-scrollbar {
  display: none; 
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a, button, input, textarea, select {
    -webkit-tap-highlight-color: transparent; 
    -webkit-touch-callout: none; 
}


ul,
ol {
  list-style: none;
}


:root {
  --swiper-navigation-size: px-to-rem(18) !important;
}
html{overflow-x: hidden;}
body {
  font-family: $font-family;
  margin: 0;
  color: $text-color;
  overflow-x: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
 appearance : textfield;
}

section::after, section::before {
    content: '';
    clear: both;
    display: block;
}
nav{
  .logo div{
    font-size: 10px;
    color: $text-color;
    letter-spacing: 10px;
    text-align: center;
    margin-top: -8px;
    font-weight: 700;
    padding: 0 2px;
    span{
      color: $secondary-color-dark;
    }
  }
}
footer{
  .logo div{
    font-size: 10px;
    color: #fff;
    letter-spacing: 10px;
    text-align: center;
    margin-top: -8px;
    font-weight: 700;
    padding: 0 2px;
    span{
      color: $secondary-color-dark;
    }
   
  }
}
.logo {
    font-size: px-to-rem(28);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: px-to-rem(20);
    text-transform: uppercase;
    
  }
.cta-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  overflow: hidden !important;
  margin-top: px-to-rem(24);
  background-color: #fff;
  border: none;
  padding: px-to-rem(10) px-to-rem(20);
  border-radius: px-to-rem(3);
  font-weight: bold;
  color: #666;
  cursor: pointer;
  box-shadow: 0 px-to-rem(4) px-to-rem(10) rgba(0, 0, 0, 0.1);
  transition: color 0.5s, transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: px-to-rem(-100);
    width: px-to-rem(30);
    height: 140%;
    background: $secondary-color;
    opacity: 0.3;
    z-index: 0;
    transform: translateY(-50%) rotate(20deg);
    transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
  }

  position: relative;
  z-index: 1;

  &:hover {
    color: $text-secondary-color;

    &::before {
      left: calc(100% + #{px-to-rem(100)});
    }
  }

  &:active {
    transform: scale(0.95);
  }
}



.pencil-bar {
  background-color: $text-secondary-color; 
  color: $text-white;
  overflow: hidden;
  white-space: nowrap;
  font-size: px-to-rem(16);
  font-family: $font-family;
  font-weight: 500;
  padding: px-to-rem(5) 0;

  .marquee {
    display: inline-flex;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;

    span {
      display: inline-block;
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


.page-header{
  background: $secondary-color;
  color: $text-color;
  padding: px-to-rem(20) 0;
  min-height: px-to-rem(150);
  @include flex-center();
  .container{
    @include container();
    padding:0 px-to-rem(20);
    h1{ 
      font-weight: 900;
      text-align: center;
    }
  }
}

.deal-banner {
  width: 100%;
  background: #fff;

  .deal-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    padding: 0 px-to-vw(20);
    gap: px-to-vw(24);
    margin: 0 auto;

    figure {
      margin: 0;
      overflow: hidden;
      border-radius: px-to-rem(3);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .deal-content {
      background: url('../../images/michael-rodichev-kUcsIdvXEYg-unsplash1.png') no-repeat center center / cover;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: px-to-max(64) px-to-max(20);

      figcaption {
        padding: px-to-max(32);
        border-radius: px-to-rem(8);
        max-width: px-to-max(500);

        article {
          text-align: center;

          h2 {
            font-size: px-to-max(32);
            font-weight: 900;
            color: $text-color;

            .highlight {
              background: #4E4E4E;
              color: $primary-color-dark;
              padding: px-to-max(4) px-to-max(8);
              border-radius: px-to-rem(4);
              display: inline-block;
            }
          }

          p {
            margin-top: px-to-max(16);
            font-size: px-to-max(16);
            color: $text-color;;

            .limited {
              color: red;
              font-weight: 600;
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;

      .deal-content figcaption {
        padding: px-to-vw(24);
      }

    }
  }
}

// text carousel styles

.text-carousel {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  padding: px-to-rem(70) 0;

  .carousel-wrapper {
    @include container;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: px-to-rem(0) px-to-rem(20);
    overflow: hidden;
  }

  .carousel-track {
    width: 100%;
    overflow: hidden;
  }

  .carousel-texts {
    display: flex;
    white-space: nowrap;
    animation: scroll-text 25s linear infinite;
    gap: px-to-rem(70);
    @media (max-width:900px){
      animation: scroll-text 10s linear infinite;
    }
    .scroll-content {
      display: flex;
      gap: px-to-rem(60);

      span {
        font-size: px-to-rem(24);
        font-family: $font-family;
        color: #444;
        font-weight: 700;

        &:nth-child(n + 3) {
          font-family: 'Tourney', sans-serif;
        }
      }
    }
  }

  .blur-left,
  .blur-right {
    content: "";
    position: absolute;
    top: px-to-rem(-47);
    width: px-to-rem(236);
    height: px-to-rem(140);
    z-index: 2;
    pointer-events: none;
    background: white;
    filter: blur(px-to-rem(13));
    border-radius: px-to-rem(160);
  }

  .blur-left {
    left: px-to-rem(-150);
  }

  .blur-right {
    right: px-to-rem(-150);
  }

  @keyframes scroll-text {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

// new arrivals styles
.new-arrivals {
  padding: px-to-max(60) px-to-max(20);
  text-align: center;

  h2 {
    font-size: px-to-max(32);
    margin-bottom: px-to-max(40);

    strong {
      font-weight: 900;
      border-bottom: px-to-max(2) solid #333;
    }
  }

  .tabs {
    display: flex;
    justify-content: center;
    gap: px-to-max(0);
    margin-bottom: px-to-max(32);
    border-radius: px-to-max(3);
    .tab {
      padding: px-to-max(10) px-to-max(20);
      font-size: px-to-max(16);

      background-color: white;
      border-bottom: px-to-max(1) solid transparent;
      cursor: pointer;
      font-weight: 500;
      &.active {
        background-color: $primary-color;
        border-bottom: px-to-max(1) solid $text-color;
      }
    }
  }

  .products-grid {
    // @include container;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(px-to-max(210), 1fr));
    gap: px-to-rem(24);
    margin: px-to-rem(50) auto;
    &.hidden {
      display: none;
    }
    @media (max-width: 1023px) {
      grid-template-columns: repeat(auto-fit, minmax(px-to-max(180), 1fr));
    }
    @media (max-width: 380px) {
      grid-template-columns: repeat(auto-fit, minmax(px-to-max(120), 1fr));
    }
  }
}

// best sellers styles
.best-selling {
  @extend .new-arrivals;
  margin: 0 auto 0;
  h2 {
    font-size: px-to-rem(36);
    font-weight: 700;
    margin-bottom: px-to-rem(16);

    strong {
      font-weight: 900;
      border-bottom: px-to-rem(3) solid #333;
    }
  }

  p {
    font-size: px-to-rem(16);
    color: $text-color;
    margin-bottom: px-to-rem(32);
  }
}

// reviews styles

.reviews-section {
  text-align: center;
  padding: px-to-rem(90) px-to-rem(20) px-to-rem(90);
  background-color: $light-gray;

  h2 {
    font-size: px-to-rem(40);
    font-weight: 700;
    margin-bottom: px-to-rem(32);
    color: $text-color;
  }

  .reviews-carousel {
    position: relative;
    margin: 0 auto;

    .swiper-wrapper {
      display: flex;
      align-items: stretch;
      height: 100% !important;
    }

    .review-card {
      border-radius: px-to-rem(3);
      padding: px-to-max(32);
      box-shadow: 0 px-to-rem(5) px-to-rem(20) rgba(0, 0, 0, 0.05);
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;

      h3 {
        font-size: px-to-max(32);
        font-weight: 700;
        margin-bottom: px-to-max(8);
      }

      .stars {
        color: $light-gray;
        font-size: px-to-max(19);
        margin-bottom: px-to-max(16);
        background-color: $text-color;
        width: px-to-max(60);
        text-align: center;
        border-radius: px-to-rem(3);
        @include flex-center;
        gap:px-to-max(4);
      }
      .user{
        @include flex-start;
        flex-wrap: wrap;
        gap: px-to-max(8);
        em{
          @include flex-start;
          width: 100%;;
          margin-top: px-to-max(8);
          gap: px-to-max(8);
          svg {
            width: px-to-max(16);
            height: px-to-max(16);
            fill: $text-color;
          }
        }
      }
      p {
        font-size: px-to-max(20);
        margin-bottom: px-to-max(24);
        line-height: px-to-max(26);
        color: $text-color;
      }

      figure {
        display: flex;
        align-items: center;
        gap: px-to-max(12);

        svg {
          width: px-to-max(40);
          height: px-to-max(40);
          border-radius: px-to-rem(3);
          
        }

        figcaption {
          font-size: px-to-rem(14);

          strong {
            display: block;
            color: $text-color;
            font-weight: 600;
            font-size: px-to-max(20);
          }

          small {
            color: $text-color;
            font-size: px-to-max(15);
          }
        }
      }
    }
    .swiper-btn-grp {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: px-to-max(16);
      margin-top: px-to-max(40);
      .swiper-button-next,
      .swiper-button-prev {
        background-color: $text-color;
        color: white;
        width: px-to-max(40);
        height: px-to-max(40);
        border-radius: 50%;
        font-size: px-to-max(16);
        box-shadow: 0 0 px-to-max(8) rgba(0, 0, 0, 0.2);
        top: auto;
        bottom: 0;
        position: static;
      }
    }

  }
}

// product listing styles
.product-listing {
    @include container;
    display: flex;
    font-family: $font-family;
    color: $text-color;
    margin: px-to-rem(24) auto;
    border: 1px solid $light-gray-stroke;
    padding: 0 0;
    position: relative;
    overflow-x: hidden;
    border-radius: px-to-rem(3);
    aside.sidebar {
        flex: 0 0 px-to-rem(300);
        background: white;
        border-right: 1px solid $light-gray-stroke;

        .filter-section {

            h4 {
                font-size: px-to-rem(24);
                font-weight: 600;
                padding: px-to-rem(0) px-to-rem(20);
                border-bottom: 1px solid $light-gray-stroke;
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-height: px-to-rem(70);
            }

            ul {
                list-style: none;
                padding: px-to-rem(40) px-to-rem(20);
                border-bottom: 1px solid $light-gray-stroke;
                &:last-child {
                    border-bottom: none;
                }
                li {
                    margin-bottom: px-to-rem(10);
                    &:last-child {
                        margin-bottom: 0;
                    }
                    label {
                        @extend .filter-checkbox-label;
                    }
                }
            }

            .price {
                font-size: px-to-rem(14);
                padding: px-to-rem(12) px-to-rem(20);

                input[type="range"] {
                    width: 100%;
                    background: transparent;
                    margin: 0;
                    padding: 0;

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: px-to-rem(8);
                        height: px-to-rem(8);
                        border-radius: 50%;
                        background: $text-color;
                        border: px-to-rem(2) solid #fff;
                        box-shadow: 0 0 px-to-rem(2) rgba(0, 0, 0, 0.1);
                        cursor: pointer;
                        transition: background 0.2s;
                        margin-top: px-to-rem(-7);
                    }

                    &::-webkit-slider-runnable-track {
                        height: px-to-rem(4);
                        border-radius: px-to-rem(2);
                        background: $text-color-light;
                    }

                    &::-moz-range-thumb {
                        width: px-to-rem(18);
                        height: px-to-rem(18);
                        border-radius: 50%;
                        background: $text-color-light;
                        border: px-to-rem(2) solid #fff;
                        cursor: pointer;
                    }

                    &::-moz-range-track {
                        height: px-to-rem(4);
                        border-radius: px-to-rem(2);
                        background: $text-color-light;
                    }

                    &::-ms-thumb {
                        width: px-to-rem(18);
                        height: px-to-rem(18);
                        border-radius: 50%;
                        background: $text-color-light;
                        border: px-to-rem(2) solid #fff;
                        cursor: pointer;
                    }

                    &::-ms-fill-lower,
                    &::-ms-fill-upper {
                        background: $text-color-light;
                        border-radius: px-to-rem(2);
                    }

                    &:focus {
                        outline: none;
                    }

                    &::-webkit-slider-thumb:focus,
                    &::-webkit-slider-runnable-track:focus {
                        outline: none;
                    }

                    &::-ms-tooltip {
                        display: none;
                    }
                }

                p {
                    margin-top: px-to-rem(8);
                }
            }

            .clear-btn {
                // margin-top: px-to-rem(12);
                padding: px-to-rem(4) px-to-rem(12);
                background-color: $text-color;
                color: #fff;
                border: none;
                border-radius: px-to-rem(4);
                cursor: pointer;
                font-size: px-to-rem(14);
            }
        }
    }

    .grid-section {
        flex: 1;
        .filter-bar{
          @include flex-between;
          width: 100%;
          gap: px-to-rem(12);
          flex-wrap: wrap;
          margin: px-to-rem(20) 0;
          > *{
            flex: 1;
            display: flex;
            
          }
        }
        .grid-header {
            @include flex-between;
            padding:0 px-to-rem(24);
            border-bottom: 1px solid $light-gray-stroke;
            min-height: px-to-rem(70);
            
            .results {
                font-size: px-to-rem(12);
            }

            select {
                padding: px-to-rem(6) px-to-rem(10);
                border: 1px solid $light-gray-stroke;
                border-radius: px-to-rem(4);
                font-size: px-to-rem(18);
                @media (max-width: 767px){
                  margin-right: 0;
                  margin-left: auto;
                }
            }
        }

        .product-grid-footer{
            @include flex-between;
            padding: px-to-rem(0) px-to-rem(20);
            min-height: px-to-rem(70);
        }

        .pagination {
            @include flex-end;
            padding: 0 0;
            gap: px-to-rem(8);
            button {
                padding: px-to-rem(6) px-to-rem(12);
                border: 1px solid #ccc;
                border-radius: px-to-rem(4);
                background-color: #fff;
                cursor: pointer;
                font-size: px-to-rem(14);

                &.active {
                    background-color: $secondary-color;
                    color: $text-color;
                }
            }
        }
    }
}

@media (max-width: 767px){
    aside.sidebar {
    position: fixed;
    left: px-to-rem(-250);
    right: auto;
    z-index: 9999;
    top: 0;
    bottom: 0;
    width: px-to-rem(250);
    overflow-y: auto;
    background: #fff;
    transition: left 0.3s cubic-bezier(0.4,0,0.2,1);
    box-shadow: 0 0 16px rgba(0,0,0,0.08);
    &.open {
      left: 0;
    }
    .sidebar-close-btn {
      @include flex-center();
      position: fixed;
      top: px-to-rem(100);
      left: px-to-rem(200);
      background: none;
      border: none;
      font-size: px-to-rem(20);
      color: $primary-color;
      background-color: $text-color;
      height: px-to-rem(30);
      width: px-to-rem(30);
      border-radius: 50%;
      z-index: 1001;
      cursor: pointer;
      line-height: 1;
    }
  }
  .sidebar-toggle-btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 6px 14px;
    font-size: 1rem;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0,0,0,0.03);
    svg { display: inline-block; }
  }
  .grid-header {
    display: flex;
    align-items: center;
    gap: 10px;
    .sidebar-toggle-btn {
      display: inline-flex;
    }
  }
  .pagination.pagination-top {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sidebar-toggle-btn, .sidebar-close-btn {
    display: none !important;
  }
}

// filter checkbox style for all pages
.filter-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: px-to-rem(24);
  height: px-to-rem(24);
  background-color: $secondary-color; 
  border-radius: px-to-rem(3);
  display: inline-block;
  position: relative;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  &::before {
    content: '';
    display: block;
    width: px-to-rem(14);
    height: px-to-rem(14);
    border-radius: px-to-rem(1.5);
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  &:checked::before {
    background-color: $text-color; 
  }
}

.filter-checkbox-label {
  display: flex;
  align-items: center;
  font-size: px-to-rem(18);
  color: $text-color;
  gap: px-to-rem(12);
  margin-bottom: px-to-rem(16);
  cursor: pointer;
}

.product-card {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 100%;
  &:hover {
    transform: translateY(-5px);
    .card-image .image-overlay {
      opacity: 1;
    }
    .card-image .actions {
      transform: translateY(px-to-rem(-40));
      opacity: 1;
    }
  }
  .card-image {
    position: relative;
    width: auto;
    height: 100%;
    aspect-ratio: 4 / 5;
    overflow: hidden;
    background-color: #f2f2f2;
    border-radius: px-to-rem(3);
    box-shadow: 0 px-to-rem(2) px-to-rem(8) rgba(0, 0, 0, 0.05);
    @media (max-width:540px){
      height: 57vw;
    }
    img {
      width: auto;
      height: 100%;
      object-fit: cover;
      display: block;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      aspect-ratio: 4 / 5;
    }
    .image-overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.25));
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: 1;
    }
    .badges {
      position: absolute;
      top: px-to-rem(10);
      left: px-to-rem(0);
      right: px-to-rem(0);
      padding: 0 px-to-rem(10);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      z-index: 2;
      span {
        color: $text-color;
        padding: px-to-rem(4) px-to-rem(14);
        border-radius: px-to-rem(20);
        font-size: px-to-rem(12);
        font-weight: 900;
        
        align-items: center;
        justify-content: center;
        @media (max-width:1024px){
         font-size: px-to-rem(9);
          padding: px-to-rem(3) px-to-rem(10);
          height: px-to-rem(20);
        }
        &.discount {
          background-color: $accent-color;
          color: $text-color;
        }
        &.new {
          background-color: $tertiary-color;
        }
      }
     
    }
    .actions {
      position: absolute;
      bottom: px-to-rem(10);
      right: px-to-rem(24);
      left: px-to-rem(24);
      display: flex;
      gap: px-to-rem(8);
      z-index: 2;
      transform: translateY(px-to-rem(200));
      opacity: 0;
      transition: all 0.4s ease;
      max-width: px-to-rem(220);
      margin: auto;
      @media (max-width:540px){
        bottom: px-to-rem(-30);
        left: px-to-rem(5);
        right: px-to-rem(10);
        width: 100%;
      }
      button {
        flex: 1;
        background: white;
        border: none;
        padding: px-to-rem(6);
        border-radius: px-to-rem(3);
        box-shadow: 0 px-to-rem(2) px-to-rem(5) rgba(0, 0, 0, 0.1);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
          height: auto;
        }
        &.cirle-icon-btn {
          width: px-to-rem(55);
          height: px-to-rem(55);
        }
        &.icon-text-btn {
          flex: 1;
        }
        &.add-to-cart:hover {
          background-color: $primary-color;
        }
        &.add-to-wishlist:hover {
          background-color: #FBADB5;
        }
        &.view-product:hover {
          background-color: $accent-color;
        }
        i {
          font-size: px-to-rem(14);
        }
        &:last-child {
          border-radius: px-to-rem(4);
          padding: px-to-rem(6) px-to-rem(10);
        }
      }
    }
  }
  .card-content {
    padding: px-to-rem(16);
    text-align: left;
    display: grid;
    grid-template-rows: 1fr auto auto;
    gap: px-to-rem(8);
    height: 100%;
    h3 {
      font-size: px-to-rem(20);
      margin: 0;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      @media (max-width:1024px){
        font-size: px-to-rem(15);
      }
    }
    .rating-price {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: px-to-rem(8);
      @at-root .rating {
        font-size: px-to-rem(14);
        color: $light-gray-stroke;
        display: flex;
        gap: px-to-rem(3);
        padding: px-to-rem(3) px-to-rem(4);
        background-color: $text-color;
        border: px-to-rem(1) solid $light-gray-stroke;
        border-radius: px-to-rem(3);
        span {
          font-weight: 700;
          color: $light-gray-stroke;
        }
      }
      .price {
        display: flex;
        align-items: center;
        gap: px-to-rem(8);
        @media (max-width:540px){
          gap: px-to-rem(2);
          flex-wrap: wrap;
          justify-content: flex-end;
        }
        del {
          color: $text-secondary-color;
          font-size: px-to-rem(14);
        }
        strong {
          font-size: px-to-rem(18);
          color: $text-color;
        }
      }
    }
  }
}

.product-grid {
  @include product-grid();
  
}

@media (max-width: 1023px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
    gap: px-to-rem(16);
  }
}
@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(8, 1fr);
    gap: px-to-rem(10);
    padding: px-to-rem(20);
    .product-card{
      grid-column: span 4;
    }
  }
}
.custom-tooltip {
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  pointer-events: none;
  user-select: none;
}
//checkout // cart // order-confirm styles
.info-strip {
    display: flex;
    gap: px-to-rem(20);
    @media (max-width: 600px) {
      flex-direction: column;
    }
    .info-box {
      flex: 1;
      border-radius: px-to-rem(3);
      padding: px-to-rem(20);
      font-size: px-to-rem(13);
      text-align: center;
      .icon{
        @include flex-center;
        margin-bottom: px-to-rem(8);
      }
      .title {
        font-weight: 500;
        margin-bottom: px-to-rem(6);
        font-size: px-to-rem(20);
      }
      p{
        font-size: px-to-rem(14);
      }
      &.yellow {
        background: #fff9c4;
      }

      &.blue {
        background: #b3e5fc;
      }

      &.pink {
        background: #ffcdd2;
      }
    }
  }