
.top-bar {
  background-color: $secondary-color;
  padding: px-to-rem(8) 0;

  .container {
    @include container;
    @include flex-between;
    font-size: px-to-rem(16);
  }
  .contact-info,
  .user-links {
    display: flex;
    cursor: pointer;
    
  }
  .icon {
    margin-right: px-to-rem(6);
  }
}

.main-header {
  background-color: $primary-color;
  position: sticky;
  top: 0;
  z-index: 1000;
  .container {
    @include container;
    @include flex-between;
    flex-wrap: wrap;
    gap: px-to-rem(100);
    padding: px-to-rem(20) px-to-rem(20);
  }

  .logo {
    font-size: px-to-rem(28);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: px-to-rem(20);
  }

  .search-box {
    flex: 1;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      padding: px-to-rem(10) px-to-rem(16);
      font-size: px-to-rem(16);
      border: none;
      border-radius: px-to-rem(4);
      box-shadow: 0 px-to-rem(2) px-to-rem(5) rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }

    .search-icon {
      background: none;
      border: none;
      margin-left: px-to-rem(-36);
      font-size: px-to-rem(18);
      cursor: pointer;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: px-to-rem(30);
    font-size: px-to-rem(18);
    
    .icon{
      cursor: pointer;
      svg{
        width: px-to-rem(20);
        height: px-to-rem(20);
        //fill: $text-color;
        transition: fill 0.3s ease;
      }
    }
  }

  .nav-links {
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-weight: 500;
    letter-spacing: px-to-rem(1);
    border-bottom: 1px solid $light-gray-stroke;
    & > li {
      font-size: px-to-rem(16);
      a {
        display: flex;
        height: px-to-rem(54);
        align-items: center;
        padding: 0 px-to-rem(24);
        &:active{
          background-color: transparent;
        }
        &:hover {
          background-color: $primary-color;
          
        }
      }
    }

    li {
      position: relative;
      cursor: pointer;
    }

    .products-menu {
      position: relative;

      &:hover .mega-menu {
        display: flex;
      }

      .mega-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: -100%;
        width: px-to-rem(872);
        background: #fff;
        box-shadow: 0 px-to-rem(5) px-to-rem(20) rgba(0, 0, 0, 0.1);
        padding: px-to-rem(24);
        z-index: 99;
        gap: px-to-rem(24);

        .column {
          flex-grow: 1;

          h4 {
            font-size: px-to-rem(16);
            font-weight: bold;
            background-color: #fff3cb;
            padding: px-to-rem(8) px-to-rem(10);
            margin-bottom: px-to-rem(10);
          }

          ul {
            list-style: none;
            padding: 0 px-to-rem(10);

            li {
              padding: px-to-rem(6) 0;
              font-size: px-to-rem(14);
              color: $text-color;
              cursor: pointer;
              transition: all 0.5s ease;
              font-weight: 400;

              &:hover {
                color: #111;
                font-weight: 500;
              }
            }
          }
        }

        .image-column {
          display: flex;
          flex-direction: row;
          gap: px-to-rem(20);
          flex-grow: auto;

          img {
            max-width: 100%;
            border-radius: px-to-rem(4);
          }
        }
      }
    }
  }
}

.hamburger-menu{
  display: none;
}

@media (max-width:767px){
  .hamburger-menu {
  display: block;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  width: px-to-rem(24);
  height: px-to-rem(20);
  position: relative;
  gap: 6px;
  max-width: px-to-rem(40);
  width: 100%;
  height: px-to-rem(30);
  padding: px-to-rem(6);
  span {
    display: block;
    height: 1px;
    background: $text-color;
    transition: 0.1s ease-in-out;
    &:nth-child(2) {
      margin: 7px 0;
    }
  }

  &.active {
    display: block;
    span:nth-child(1) {
      transform: rotate(45deg) translate(-4px, -6px);
      top: px-to-rem(8);
      position: relative;
    }
    span:nth-child(2) {
      opacity: 0;
      margin: 0;
    }
    span:nth-child(3) {
      transform:rotate(-45deg) translate(-3px, 5px);
      bottom: px-to-rem(8);
      position: relative;
    }
  }
}
  .main-header{
    .container{
      flex-wrap: wrap;
      gap: px-to-rem(12);
      .logo{
        flex: 1;
        order: 1;
      }
      .icons{
        order:2;
        flex: 1;
        justify-content: flex-end;
      }
      .search-box{
        order: 3;
        flex: 1 1 100%;
        width: 100%;
      }
    }
    .nav-links{
      position: absolute;
      flex-direction: column;
      box-shadow: 0 px-to-rem(5) px-to-rem(20) rgba(0, 0, 0, 0.1);
      width: 100%;
      overflow: hidden;
      max-height: 0;
      padding: 0;
      transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      background-color: #fff;
      transition: all 0.5s ease;
      gap: px-to-rem(12);
      &.open{
        max-height: 500vw;
        padding: px-to-rem(20);
      }
      li {
        a{
          background-color: $secondary-color;
          border-radius: px-to-rem(3);
        }
      }
      .products-menu{
        .mega-menu {
          width: 100%;
          display: flex;
          position: static;
          max-height: 0;
          overflow: hidden;
          padding: 0;
          transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          .image-column {
            flex-direction: column;
            flex: 1;
            img{
              width: 100%;
              max-height: 210px;
              object-fit: contain;
              object-position:top right;
            }
          }
        }
         &:hover {
          .mega-menu {
            max-height: 500vw;
            padding: px-to-rem(24);
          }
        } 
      }
    }
  }
}




