$primary-color: #FFF0C7;
$primary-color-dark: #FABB05;
$secondary-color: #D1EAF5;
$secondary-color-dark: #81B6CE;
$tertiary-color: #F6C9D3;
$accent-color: #92FB99;
$accent-color-dark: #5BCF6A;
$light-gray: #F5F5F5;
$light-gray-stroke: #E4E4E4;
$light-gray-bg: #F6F6F6;
$text-color: #4E4E4E;

$text-white:#fff;
$text-dark: #353535;
$text-color-light: #AFAFAF;
$text-secondary-color: #DF6262;
$text-secondary-color-light: #FBADB5;
$font-base: 18;
$font-family: 'Jost', sans-serif;