/*rest css*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a, button, input, textarea, select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

ul,
ol {
  list-style: none;
}

:root {
  --swiper-navigation-size: px-to-rem(18) !important;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Jost", sans-serif;
  margin: 0;
  color: #4E4E4E;
  overflow-x: hidden;
}

section::after, section::before {
  content: "";
  clear: both;
  display: block;
}

.cta-button {
  position: relative;
  overflow: hidden;
  margin-top: 1.3333333333rem;
  background-color: #fff;
  border: none;
  padding: 0.5555555556rem 1.1111111111rem;
  border-radius: 0.2222222222rem;
  font-weight: bold;
  color: #666;
  cursor: pointer;
  box-shadow: 0 0.2222222222rem 0.5555555556rem rgba(0, 0, 0, 0.1);
  transition: color 0.5s, transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
  z-index: 1;
}
.cta-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5.5555555556rem;
  width: 1.6666666667rem;
  height: 140%;
  background: #D1EAF5;
  opacity: 0.3;
  z-index: 0;
  transform: translateY(-50%) rotate(20deg);
  transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}
.cta-button:hover {
  color: #DF6262;
}
.cta-button:hover::before {
  left: calc(100% + 5.5555555556rem);
}
.cta-button:active {
  transform: scale(0.95);
}

.page-header {
  background: #D1EAF5;
  color: #4E4E4E;
  padding: 1.1111111111rem 0;
  min-height: 8.3333333333rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-header .container {
  max-width: 73.3333333333rem;
  margin: 0 auto;
  padding: 0 0.8888888889rem;
  padding: 0 1.1111111111rem;
}
.page-header .container h1 {
  font-weight: 900;
  text-align: center;
}

.top-bar {
  background-color: #D1EAF5;
  padding: 0.4444444444rem 0;
}
.top-bar .container {
  max-width: 73.3333333333rem;
  margin: 0 auto;
  padding: 0 0.8888888889rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8888888889rem;
}
.top-bar .contact-info,
.top-bar .user-links {
  display: flex;
  cursor: pointer;
}
.top-bar .icon {
  margin-right: 0.3333333333rem;
}

.main-header {
  background-color: #FFF0C7;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.main-header .container {
  max-width: 73.3333333333rem;
  margin: 0 auto;
  padding: 0 0.8888888889rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5.5555555556rem;
  padding: 1.1111111111rem 1.1111111111rem;
}
.main-header .logo {
  font-size: 1.5555555556rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1.1111111111rem;
}
.main-header .search-box {
  flex: 1;
  display: flex;
  align-items: center;
}
.main-header .search-box input {
  width: 100%;
  padding: 0.5555555556rem 0.8888888889rem;
  font-size: 0.8888888889rem;
  border: none;
  border-radius: 0.2222222222rem;
  box-shadow: 0 0.1111111111rem 0.2777777778rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.main-header .search-box .search-icon {
  background: none;
  border: none;
  margin-left: -2rem;
  font-size: 1rem;
  cursor: pointer;
}
.main-header .icons {
  display: flex;
  align-items: center;
  gap: 1.3333333333rem;
  font-size: 1rem;
}
.main-header .icons .icon {
  cursor: pointer;
}
.main-header .icons .icon svg {
  width: 100%;
  height: 1.1111111111rem;
  transition: fill 0.3s ease;
}
.main-header .nav-links {
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 0.0555555556rem;
  border-bottom: 1px solid #EFEFEF;
}
.main-header .nav-links > li {
  font-size: 0.8888888889rem;
}
.main-header .nav-links > li a {
  display: flex;
  height: 3rem;
  align-items: center;
  padding: 0 1.3333333333rem;
}
.main-header .nav-links > li a:active {
  background-color: transparent;
}
.main-header .nav-links > li a:hover {
  background-color: #FFF0C7;
}
.main-header .nav-links li {
  position: relative;
  cursor: pointer;
}
.main-header .nav-links .products-menu {
  position: relative;
}
.main-header .nav-links .products-menu:hover .mega-menu {
  display: flex;
}
.main-header .nav-links .products-menu .mega-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -100%;
  width: 48.4444444444rem;
  background: #fff;
  box-shadow: 0 0.2777777778rem 1.1111111111rem rgba(0, 0, 0, 0.1);
  padding: 1.3333333333rem;
  z-index: 99;
  gap: 1.3333333333rem;
}
.main-header .nav-links .products-menu .mega-menu .column {
  flex-grow: 1;
}
.main-header .nav-links .products-menu .mega-menu .column h4 {
  font-size: 0.8888888889rem;
  font-weight: bold;
  background-color: #fff3cb;
  padding: 0.4444444444rem 0.5555555556rem;
  margin-bottom: 0.5555555556rem;
}
.main-header .nav-links .products-menu .mega-menu .column ul {
  list-style: none;
  padding: 0 0.5555555556rem;
}
.main-header .nav-links .products-menu .mega-menu .column ul li {
  padding: 0.3333333333rem 0;
  font-size: 0.7777777778rem;
  color: #4E4E4E;
  cursor: pointer;
  transition: all 0.5s ease;
  font-weight: 400;
}
.main-header .nav-links .products-menu .mega-menu .column ul li:hover {
  color: #111;
  font-weight: 500;
}
.main-header .nav-links .products-menu .mega-menu .image-column {
  display: flex;
  flex-direction: row;
  gap: 1.1111111111rem;
  flex-grow: auto;
}
.main-header .nav-links .products-menu .mega-menu .image-column img {
  max-width: 100%;
  border-radius: 0.2222222222rem;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 767px) {
  .hamburger-menu {
    display: block;
    flex-direction: column;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 1.1111111111rem;
    height: 1rem;
    position: relative;
    gap: 6px;
  }
  .hamburger-menu span {
    display: block;
    height: 1px;
    background: #4E4E4E;
    transition: 0.1s ease-in-out;
  }
  .hamburger-menu span:nth-child(2) {
    margin: 0.3333333333rem 0;
  }
  .hamburger-menu.active {
    display: flex;
  }
  .hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(0rem, 0rem);
    top: 0.4444444444rem;
    position: relative;
  }
  .hamburger-menu.active span:nth-child(2) {
    opacity: 0;
    margin: 0;
  }
  .hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(0rem, 0rem);
    bottom: 0.4444444444rem;
    position: relative;
  }
  .main-header .container {
    flex-wrap: wrap;
    gap: 0.6666666667rem;
  }
  .main-header .container .logo {
    flex: 1;
    order: 1;
  }
  .main-header .container .icons {
    order: 2;
    flex: 1;
    justify-content: flex-end;
  }
  .main-header .container .search-box {
    order: 3;
    flex: 1 1 100%;
    width: 100%;
  }
  .main-header .nav-links {
    position: absolute;
    flex-direction: column;
    box-shadow: 0 0.2777777778rem 1.1111111111rem rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    background-color: #fff;
    transition: all 0.5s ease;
    gap: 0.6666666667rem;
  }
  .main-header .nav-links.open {
    max-height: 500vw;
    padding: 1.1111111111rem;
  }
  .main-header .nav-links li a {
    background-color: #D1EAF5;
    border-radius: 0.1666666667rem;
  }
  .main-header .nav-links .products-menu .mega-menu {
    width: 100%;
    display: flex;
    position: static;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .main-header .nav-links .products-menu .mega-menu .image-column {
    flex-direction: column;
    flex: 1;
  }
  .main-header .nav-links .products-menu .mega-menu .image-column img {
    width: 100%;
    max-height: 210px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top right;
       object-position: top right;
  }
  .main-header .nav-links .products-menu:hover .mega-menu {
    max-height: 500vw;
    padding: 1.3333333333rem;
  }
}
.breadcrumb {
  background-color: #D1EAF5;
  overflow: hidden;
}
.breadcrumb .container {
  max-width: 73.3333333333rem;
  margin: 0 auto;
  padding: 0 0.8888888889rem;
  padding: 0.3333333333rem 1.1111111111rem;
  font-size: 0.7777777778rem;
  color: #4E4E4E;
}
.breadcrumb .container ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.5555555556rem;
  font-size: 0.8888888889rem;
}
.breadcrumb .container a {
  color: #4E4E4E;
  text-decoration: none;
}
.breadcrumb .container a:hover {
  color: #353535;
}
.breadcrumb .container span {
  margin: 0 0.2777777778rem;
}

.product-details {
  padding: 1.1111111111rem 0;
  overflow: hidden;
}
.product-details .container {
  max-width: 73.3333333333rem;
  margin: 0 auto;
  padding: 0 0.8888888889rem;
  gap: 1.3333333333rem;
}
.product-details .product-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.3333333333rem;
}
@media (max-width: 900px) {
  .product-details .product-wrapper {
    flex-direction: column;
  }
}
.product-details .product-wrapper .product-gallery {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 1.3333333333rem;
}
@media (max-width: 900px) {
  .product-details .product-wrapper .product-gallery {
    width: 100%;
    gap: 0.6666666667rem;
  }
}
.product-details .product-wrapper .product-gallery .main-slider {
  border: 0.0555555556rem solid #D1EAF5;
  padding: 1.1111111111rem;
  width: 72%;
  flex: 1;
  margin: 0;
  height: 465px;
  border-radius: 0.1666666667rem;
}
@media (max-width: 600px) {
  .product-details .product-wrapper .product-gallery .main-slider {
    width: calc(100% - 25vw);
    padding: 0.5555555556rem;
  }
}
.product-details .product-wrapper .product-gallery .main-slider .swiper-wrapper {
  align-items: center;
  overflow: hidden;
  border-radius: 0.1666666667rem;
  background-color: #f7f7f7;
}
.product-details .product-wrapper .product-gallery .main-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.1666666667rem;
  background-color: #f7f7f7;
}
.product-details .product-wrapper .product-gallery .main-slider .swiper-slide.swiper-slide-prev, .product-details .product-wrapper .product-gallery .main-slider .swiper-slide.swiper-slide-next {
  opacity: 0 !important;
}
.product-details .product-wrapper .product-gallery .main-slider .swiper-slide img {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  background-color: #F5F5F5;
  height: 100%;
  max-height: 25.8333333333rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}
.product-details .product-wrapper .product-gallery .thumbnail-slider {
  margin-top: 1.3333333333rem;
  flex-wrap: wrap;
  margin: 0;
}
.product-details .product-wrapper .product-gallery .thumbnail-slider .swiper-wrapper {
  width: 90px;
}
@media (max-width: 600px) {
  .product-details .product-wrapper .product-gallery .thumbnail-slider .swiper-wrapper {
    width: 18vw;
  }
}
.product-details .product-wrapper .product-gallery .thumbnail-slider .swiper-wrapper .swiper-slide {
  box-sizing: border-box;
  opacity: 0.6;
  border: 0.0555555556rem solid #EFEFEF;
  cursor: pointer;
  transition: border 0.2s, opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 0.1666666667rem;
  overflow: hidden;
  padding: 0rem;
  display: flex;
  align-items: center;
  height: auto !important;
}
.product-details .product-wrapper .product-gallery .thumbnail-slider .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
  border-color: #D1EAF5;
}
.product-details .product-wrapper .product-gallery .thumbnail-slider .swiper-wrapper .swiper-slide img {
  width: 100px;
  height: 5.5555555556rem;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  background: #f7f7f7;
}
.product-details .product-wrapper .product-info {
  flex: auto;
}
.product-details .product-wrapper .product-info .tag {
  background-color: #FFF0C7;
  padding: 0.1666666667rem 0.5555555556rem;
  font-size: 0.7777777778rem;
  font-weight: 600;
  width: 3.9444444444rem;
  height: 1.5555555556rem;
  color: #4E4E4E;
  display: inline-block;
  border-radius: 0.1666666667rem;
}
.product-details .product-wrapper .product-info h2 {
  font-size: 1.7777777778rem;
  margin: 0.5rem 0;
  font-weight: 900;
}
.product-details .product-wrapper .product-info .ratings {
  font-size: 1rem;
  margin-bottom: 0.5555555556rem;
  background-color: #D1EAF5;
  border-radius: 0.1666666667rem;
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0rem;
  border: #4E4E4E 0.0555555556rem solid;
  font-weight: 600;
  overflow: hidden;
}
.product-details .product-wrapper .product-info .ratings span {
  border-right: 0.0555555556rem solid #4E4E4E;
  padding: 0.1666666667rem 0.2777777778rem;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.product-details .product-wrapper .product-info .ratings svg {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
}
.product-details .product-wrapper .product-info .ratings a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1666666667rem 0.1666666667rem;
}
.product-details .product-wrapper .product-info .price {
  font-size: 1.3333333333rem;
  display: flex;
  align-items: center;
}
.product-details .product-wrapper .product-info .price strong {
  color: #4E4E4E;
}
.product-details .product-wrapper .product-info .price del {
  margin: 0 0.5rem;
  color: #DF6262;
  font-size: 0.8888888889rem;
}
.product-details .product-wrapper .product-info .price .discount {
  color: #4E4E4E;
  background-color: #F6C9D3;
  font-size: 0.7777777778rem;
  padding: 0.1666666667rem 0.5555555556rem;
  font-weight: 600;
  margin-left: 0.5555555556rem;
}
.product-details .product-wrapper .product-info .desc {
  margin: 0.5555555556rem 0 1.1111111111rem;
  font-size: 0.8888888889rem;
  color: #4E4E4E;
}
.product-details .product-wrapper .product-info .selector-group {
  margin: 0.5555555556rem 0;
}
.product-details .product-wrapper .product-info .selector-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5555555556rem;
}
.product-details .product-wrapper .product-info .selector-group .sizes {
  display: flex;
  gap: 0.5rem;
}
.product-details .product-wrapper .product-info .selector-group .sizes label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: 2.7777777778rem;
  height: 2.7777777778rem;
  border: 0.0555555556rem solid #EFEFEF;
  background: #fff;
  color: #4E4E4E;
  border-radius: 0.1666666667rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  font-weight: 500;
}
.product-details .product-wrapper .product-info .selector-group .sizes label input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
input[type=radio]:checked ~ .product-details .product-wrapper .product-info .selector-group .sizes label, input[type=radio]:checked + .product-details .product-wrapper .product-info .selector-group .sizes label {
  background: #D1EAF5;
  color: #fff;
  border-color: #D1EAF5;
}
.product-details .product-wrapper .product-info .selector-group .sizes label:hover, .product-details .product-wrapper .product-info .selector-group .sizes label:focus-within {
  background: #D1EAF5;
  color: #4E4E4E;
  border-color: #D1EAF5;
}
.product-details .product-wrapper .product-info .selector-group .sizes label input[type=radio]:checked + span,
.product-details .product-wrapper .product-info .selector-group .sizes label input[type=radio]:checked + * {
  background: #D1EAF5;
  color: #fff;
  border-color: #D1EAF5;
}
.product-details .product-wrapper .product-info .selector-group .sizes label:has(input[type=radio]:checked) {
  background: #D1EAF5;
  color: #4E4E4E;
  border-color: #D1EAF5;
}
.product-details .product-wrapper .product-info .selector-group .quantity {
  display: flex;
  align-items: stretch;
  gap: 0.5555555556rem;
}
.product-details .product-wrapper .product-info .selector-group .quantity input {
  width: 3.0555555556rem;
  text-align: center;
  border: 0.0555555556rem solid #EFEFEF;
  font-weight: 500;
  border-radius: 0.1666666667rem;
  background-color: #F5F5F5;
  font-size: 1rem;
}
.product-details .product-wrapper .product-info .selector-group .quantity button {
  width: 2.7777777778rem;
  height: 2.7777777778rem;
  border: 0.0555555556rem solid #EFEFEF;
  background-color: #D1EAF5;
  border-radius: 0.1666666667rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.product-details .product-wrapper .product-info .selector-group .quantity button svg {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}
.product-details .product-wrapper .product-info .actions {
  display: flex;
  gap: 1.3333333333rem;
  margin: 1.3333333333rem 0;
}
.product-details .product-wrapper .product-info .actions .btn {
  padding: 0rem 1.1111111111rem;
  height: 2.7777777778rem;
  display: flex;
  align-items: center;
  gap: 0.5555555556rem;
  border: 0.0555555556rem solid #4E4E4E;
  border-radius: 0.1666666667rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s, color 0.2s, box-shadow 0.2s;
  position: relative;
  transform: translateY(-0.0555555556rem);
  font-size: 1rem;
}
.product-details .product-wrapper .product-info .actions .btn.dark {
  background: #4E4E4E;
  color: #fff;
}
.product-details .product-wrapper .product-info .actions .btn.dark:hover {
  background: #D1EAF5;
  color: #4E4E4E;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.product-details .product-wrapper .product-info .actions .btn.dark:active {
  background: #81B6CE;
  color: #4E4E4E;
  transform: translateY(0.0555555556rem);
}
.product-details .product-wrapper .product-info .actions .btn.alpha {
  background: #fff;
  color: #4E4E4E;
  border: 0.0555555556rem solid #4E4E4E;
}
.product-details .product-wrapper .product-info .actions .btn.alpha:hover {
  background: #92FB99;
  color: #4E4E4E;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.product-details .product-wrapper .product-info .actions .btn.alpha:active {
  background: #5BCF6A;
  color: #4E4E4E;
  transform: translateY(0.0555555556rem);
}
.product-details .product-wrapper .product-info .actions .btn.light {
  background: #fff;
  color: #4E4E4E;
  border: 0.0555555556rem solid #4E4E4E;
  padding: 0rem 0.8333333333rem;
}
.product-details .product-wrapper .product-info .actions .btn.light svg {
  fill: #DF6262;
  color: #FBADB5;
}
.product-details .product-wrapper .product-info .actions .btn.light:hover {
  background: #F6C9D3;
  color: #4E4E4E;
  border-color: #DF6262;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.product-details .product-wrapper .product-info .actions .btn.light:active {
  background: #FBADB5;
  color: #4E4E4E;
  border-color: #F6C9D3;
  transform: translateY(0.0555555556rem);
}
.product-details .product-wrapper .product-info .category {
  font-size: 0.8888888889rem;
  color: #4E4E4E;
  margin-bottom: 0.5555555556rem;
  background-color: #F5F5F5;
  border-radius: 0.1666666667rem;
  padding: 0.5555555556rem 1.1111111111rem;
}
.product-details .product-wrapper .product-info .features {
  padding: 0 1.1111111111rem 0 2.2222222222rem;
  margin: 1.1111111111rem 0;
}
.product-details .product-wrapper .product-info .features li {
  margin-bottom: 0.5rem;
  color: #4E4E4E;
  list-style-type: disc;
}

.site-footer {
  background: #4E4E4E;
  color: #fff;
  font-family: inherit;
}
.site-footer .footer-top {
  display: flex;
  justify-content: center;
  gap: 1.7777777778rem;
  padding: 2.6666666667rem 1.7777777778rem;
  background: #FFFFFF;
  color: #4E4E4E;
  flex-wrap: wrap;
}
.site-footer .footer-top .info-box {
  background: #f1f1f1;
  padding: 0.8888888889rem 1.3333333333rem;
  border-radius: 0.1666666667rem;
  display: flex;
  align-items: center;
  gap: 0.8888888889rem;
  max-width: 16.6666666667rem;
}
@media (max-width: 767px) {
  .site-footer .footer-top .info-box {
    width: 100%;
    max-width: none;
  }
}
.site-footer .footer-top .info-box img {
  width: 2.2222222222rem;
  height: 2.2222222222rem;
}
.site-footer .footer-top .info-box h4 {
  margin: 0;
  font-weight: bold;
}
.site-footer .footer-top .info-box p {
  margin: 0;
  font-size: 0.7777777778rem;
}
.site-footer .newsletter {
  background: #feefc3;
  padding: 2.6666666667rem 1.7777777778rem;
}
.site-footer .newsletter .newsletter-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 73.3333333333rem;
  margin: 0 auto;
  gap: 1.3333333333rem;
}
.site-footer .newsletter .newsletter-content .newsletter-text {
  flex: 1;
}
.site-footer .newsletter .newsletter-content .newsletter-text h2 {
  font-size: 1.7777777778rem;
  font-weight: 700;
  color: #333;
}
.site-footer .newsletter .newsletter-content .newsletter-text p {
  color: #4E4E4E;
}
.site-footer .newsletter .newsletter-content .newsletter-form {
  display: flex;
  background: #4E4E4E;
  border-radius: 0.2222222222rem;
  overflow: hidden;
  justify-content: space-between;
  width: 35%;
}
@media (max-width: 767px) {
  .site-footer .newsletter .newsletter-content .newsletter-form {
    width: 100%;
  }
}
.site-footer .newsletter .newsletter-content .newsletter-form input {
  padding: 0.8888888889rem;
  border: none;
  outline: none;
  color: #fff;
  background: #4E4E4E;
}
.site-footer .newsletter .newsletter-content .newsletter-form button {
  background: transparent;
  border: none;
  padding: 0 0 0 1.1111111111rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-footer .footer-main {
  background: #4E4E4E;
  padding: 2.6666666667rem 1.7777777778rem;
}
.site-footer .footer-main .footer-columns {
  max-width: 73.3333333333rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.1111111111rem, 1fr));
  gap: 1.7777777778rem;
}
.site-footer .footer-main .footer-columns h3,
.site-footer .footer-main .footer-columns h4 {
  font-weight: 700;
  margin-bottom: 0.8888888889rem;
}
.site-footer .footer-main .footer-columns ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.site-footer .footer-main .footer-columns ul li {
  margin-bottom: 0;
}
.site-footer .footer-main .footer-columns ul li a {
  color: #fff;
  text-decoration: none;
}
.site-footer .footer-main .footer-columns ul li a:hover {
  text-decoration: underline;
}
.site-footer .footer-main .footer-columns .footer-about {
  max-width: 17.7777777778rem;
}
.site-footer .footer-main .footer-columns .footer-about p {
  margin-top: 0.4444444444rem;
}
.site-footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8888888889rem 1.7777777778rem;
  background: #333;
  font-size: 0.7777777778rem;
}
.site-footer .footer-bottom .payment-icons {
  display: flex;
}
.site-footer .footer-bottom .payment-icons svg {
  height: 1.1111111111rem;
  margin-left: 0.4444444444rem;
}
@media (max-width: 768px) {
  .site-footer .newsletter-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .site-footer .newsletter-content .newsletter-form {
    width: 100%;
  }
  .site-footer .footer-bottom {
    flex-direction: column;
    gap: 0.8888888889rem;
  }
}/*# sourceMappingURL=product-page.css.map */