@use "sass:math";
@import "variables";
@import "functions";
@import "mixins";
@import "common";
@import "header";
@import "product-card";

.hero-section {
  background: linear-gradient(to right, #d4edf7 40%, #fff3cd 100%);
  padding: px-to-rem(60) 0 0;

  .hero-container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: px-to-rem(40);
  }

  article.hero-text {
    flex: 1 1 px-to-rem(500);
    max-width: px-to-rem(600);

    h1 {
      font-size: px-to-rem(48);
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: px-to-rem(16);
    }

    p {
      font-size: px-to-rem(18);
      margin-bottom: px-to-rem(12);
    }

    .offer {
      font-weight: 600;
      font-size: px-to-rem(18);

      .highlight {
        color: #f96f84;
        font-weight: 700;
      }
    }

    .shop-btn {
      margin-top: px-to-rem(20);
      padding: px-to-rem(12) px-to-rem(24);
      font-size: px-to-rem(16);
      font-weight: 600;
      background-color: white;
      border: none;
      border-radius: px-to-rem(6);
      box-shadow: 0 px-to-rem(4) px-to-rem(8) rgba(0, 0, 0, 0.15);
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #f3f3f3;
        transform: translateY(-2px);
      }
    }
  }

  figure.hero-image {
    flex: 1 1 px-to-rem(400);
    margin: 0;
    display: flex;
    justify-content: flex-end;
    img {
      width: 100%;
      max-width: px-to-rem(400);
      border-radius: px-to-rem(12);
    }
  }
}

.text-carousel {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  padding: px-to-rem(70) 0;

  .carousel-wrapper {
    @include container;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: px-to-rem(0) px-to-rem(20);
    overflow: hidden;
  }

  .carousel-track {
    width: 100%;
    overflow: hidden;
  }

  .carousel-texts {
    display: flex;
    white-space: nowrap;
    animation: scroll-text 30s linear infinite;
    gap: px-to-rem(70);

    .scroll-content {
      display: flex;
      gap: px-to-rem(60);

      span {
        font-size: px-to-rem(24);
        font-family: $font-family;
        color: #444;
        font-weight: 700;

        &:nth-child(n + 3) {
          font-family: 'Tourney', sans-serif;
        }
      }
    }
  }

  .blur-left,
  .blur-right {
    content: "";
    position: absolute;
    top: px-to-rem(-47);
    width: px-to-rem(236);
    height: px-to-rem(140);
    z-index: 2;
    pointer-events: none;
    background: white;
    filter: blur(px-to-rem(13));
    border-radius: px-to-rem(160);
  }

  .blur-left {
    left: px-to-rem(-150);
  }

  .blur-right {
    right: px-to-rem(-150);
  }

  @keyframes scroll-text {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

.deal-of-the-day {
  padding: 0 0 px-to-rem(24);

  .deal-container {
    padding: 0 px-to-rem(20);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: px-to-rem(24);
    align-items: stretch;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  article.deal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background: #fff url('../images/gaspar-zaldo-aF16a27gNVs-unsplash.png') no-repeat center center;
    background-size: cover;
    padding: px-to-rem(40) px-to-rem(20);
    border-radius: px-to-rem(3);

    .limited {
      font-size: px-to-rem(14);
      font-weight: 500;
      color: #888;
    }

    .deal-title {
      font-size: px-to-rem(32);
      font-weight: 700;
      margin: px-to-rem(8) 0;
    }

    .discount-badge {
      background-color: $secondary-color-dark;
      color: #fff;
      font-weight: bold;
      border: none;
      padding: px-to-rem(10) px-to-rem(20);
      border-radius: px-to-rem(6);
      font-size: px-to-rem(16);
      margin-bottom: px-to-rem(20);
    }

    .countdown {
      display: flex;
      align-items: center;
      gap: px-to-rem(8);
      margin-bottom: px-to-rem(20);

      .time-box {
        background: #fff;
        padding: px-to-rem(10) px-to-rem(16);
        border-radius: px-to-rem(6);
        box-shadow: 0 px-to-rem(2) px-to-rem(6) rgba(0, 0, 0, 0.1);
        text-align: center;
        width: px-to-rem(90);
        .time {
          font-size: px-to-rem(24);
          font-weight: 700;
          display: block;
        }

        .label {
          font-size: px-to-rem(12);
          color: #666;
        }
      }

      .colon {
        font-size: px-to-rem(24);
        font-weight: bold;
      }
    }

    .product-name {
      font-size: px-to-rem(18);
      font-weight: 500;
      margin-bottom: px-to-rem(8);
    }

    .price {
      font-size: px-to-rem(22);
      font-weight: 700;
      margin-bottom: px-to-rem(16);
    }
  }

  figure.deal-image {
    display: flex;
    justify-content: flex-end;
    background-color: #D1EAF5;
    border-radius: px-to-rem(3);
    margin: 0;

    img {
      width: 100%;
      height: 100%;
      max-width: px-to-vw(600);
      border-radius: px-to-rem(12);
      margin: auto;
      object-fit: cover;
    }
  }
}

.shop-category {
  padding: px-to-rem(60) px-to-rem(20) px-to-rem(30);
  text-align: center;

  h2 {
    font-size: px-to-rem(32);
    margin-bottom: px-to-rem(40);
    strong {
      font-weight: 900;
      border-bottom: px-to-rem(2) solid #333;
    }
  }

  .category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: px-to-rem(24);

    @media (max-width: 1300px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .category-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-size: cover;
    background-position: center;
    height: px-to-rem(360);
    border-radius: px-to-rem(3);
    overflow: hidden;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    .overlay {
      background: rgba(255, 255, 255, 0.85);
      padding: px-to-rem(20);
      text-align: center;
      margin: 0 auto;
      max-width: px-to-rem(280);

      h3 {
        font-size: px-to-rem(24);
        margin-bottom: px-to-rem(4);
        font-weight: 400;
      }

      p {
        font-size: px-to-rem(24);
        font-weight: 900;
        margin-bottom: px-to-rem(6);
      }

      span {
        font-size: px-to-rem(14);
        color: $text-color;
      }
    }
  }
}

.new-arrivals {
  padding: px-to-rem(60) px-to-rem(20);
  text-align: center;

  h2 {
    font-size: px-to-rem(32);
    margin-bottom: px-to-rem(40);

    strong {
      font-weight: 900;
      border-bottom: px-to-rem(2) solid #333;
    }
  }

  .tabs {
    display: flex;
    justify-content: center;
    gap: px-to-rem(0);
    margin-bottom: px-to-rem(32);
    border-radius: px-to-rem(3);
    .tab {
      padding: px-to-rem(10) px-to-rem(20);
      font-size: px-to-rem(16);

      background-color: white;
      border-bottom: px-to-rem(1) solid transparent;
      cursor: pointer;
      font-weight: 500;
      &.active {
        background-color: $primary-color;
        border-bottom: px-to-rem(1) solid $text-color;
      }
    }
  }

  .products-grid {
    @include container;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(px-to-rem(260), 1fr));
    gap: px-to-rem(24);

    &.hidden {
      display: none;
    }

    
  }
}

.promo-banner {
  background: linear-gradient(to right, #d4edf7 0 65.5%, #fff 65.5% 66.5%, #f6c9d3 66.5% 100%);
  padding: px-to-rem(30) 0 0;
  margin: px-to-rem(50) 0 0;

  .container {
    @include container;
  }

  .promo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: px-to-rem(32);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      text-align: center;

      figure.promo-image {
        margin-top: px-to-rem(24);
      }
    }
    figure.promo-image {
      margin: 0;
    }
  }

  article.promo-content {
    text-align: center;
    h1 {
      font-size: px-to-rem(42);
      margin-bottom: px-to-rem(16);
      line-height: 1.2;

      .highlight {
        color: #f5738d;
      }
    }

    p {
      font-size: px-to-rem(18);
      margin: px-to-rem(8) 0;
    }

    .sale-info {
      font-weight: bold;
      margin: px-to-rem(20) 0 px-to-rem(12);
    }

    .countdown {
      display: flex;
      align-items: center;
      gap: px-to-rem(16);
      justify-content: center;
      margin: 0 auto px-to-rem(24);

      .time-box {
        background: white;
        box-shadow: 0 px-to-rem(2) px-to-rem(10) rgba(0, 0, 0, 0.1);
        padding: px-to-rem(12) px-to-rem(20);
        border-radius: px-to-rem(6);
        text-align: center;
        width: px-to-rem(90);

        .time {
          font-size: px-to-rem(24);
          font-weight: bold;
          display: block;
        }

        .label {
          font-size: px-to-rem(12);
          color: #666;
        }
      }

      .colon {
        font-size: px-to-rem(24);
        font-weight: bold;
      }
    }

    .btn {
      display: inline-block;
      padding: px-to-rem(12) px-to-rem(24);
      background: white;
      color: #333;
      font-weight: bold;
      border-radius: px-to-rem(6);
      box-shadow: 0 px-to-rem(2) px-to-rem(5) rgba(0, 0, 0, 0.1);
      text-decoration: none;
    }
  }

  figure.promo-image {
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}

.best-selling {
  @extend .new-arrivals;

  h2 {
    font-size: px-to-rem(36);
    font-weight: 700;
    margin-bottom: px-to-rem(16);

    strong {
      font-weight: 900;
      border-bottom: px-to-rem(3) solid #333;
    }
  }

  p {
    font-size: px-to-rem(16);
    color: $text-color;
    margin-bottom: px-to-rem(32);
  }

  .product-card {
    .card-image {
      .badges {
        .discount {
          background-color: #c8facc;
          color: #008000;
        }
        .new {
          background-color: #ffd4db;
          color: #d6003b;
        }
      }

      .actions {
        button {
          background: #fff;
          border: px-to-rem(1) solid #eee;

          i {
            color: #333;
          }
        }
      }
    }

    .card-content {
      .rating-price {
        .rating {
          display: flex;
          align-items: center;
          gap: px-to-rem(6);
        }

        .price {
          strong {
            color: #333;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.deal-banner {
  width: 100%;
  background: #fff;

  .deal-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    padding: 0 px-to-rem(20);
    gap: px-to-rem(24);
    margin: 0 auto;

    figure {
      margin: 0;
      overflow: hidden;
      border-radius: px-to-rem(3);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .deal-content {
      background: url('../images/michael-rodichev-kUcsIdvXEYg-unsplash1.png') no-repeat center center / cover;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: px-to-rem(32);

      figcaption {
        padding: px-to-rem(32);
        border-radius: px-to-rem(8);
        max-width: px-to-rem(500);

        article {
          text-align: center;

          h2 {
            font-size: px-to-rem(32);
            font-weight: 700;
            color: #333;

            .highlight {
              background: #4E4E4E;
              color: #ffc107;
              padding: px-to-rem(4) px-to-rem(8);
              border-radius: px-to-rem(4);
              display: inline-block;
            }
          }

          p {
            margin-top: px-to-rem(16);
            font-size: px-to-rem(16);
            color: #333;

            .limited {
              color: red;
              font-weight: 600;
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;

      .deal-content figcaption {
        padding: px-to-rem(24);
      }

      h2 {
        font-size: px-to-rem(24);
      }
    }
  }
}

.promo-section {
  margin: px-to-rem(50) 0;
  padding: px-to-rem(32);

  h2 {
    font-size: px-to-rem(32);
    margin-bottom: px-to-rem(40);
    text-align: center;

    strong {
      font-weight: 900;
      border-bottom: px-to-rem(2) solid #333;
    }
  }
}

.promo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, px-to-rem(300));
  grid-gap: px-to-rem(24);
  grid-template-rows: 1fr;

  .card-medium:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1 / span 2;
    margin: 0;
  }
  .card-medium:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1 / span 2;
    margin: 0;
  }
  .card-small:nth-of-type(3) {
    grid-column: 3;
    grid-row: 1;
    margin: 0;
  }
  .card-small:nth-of-type(4) {
    grid-column: 3;
    grid-row: 2;
    margin: 0;
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    .card-medium,
    .card-small {
      grid-column: span 2;
      grid-row: auto;
    }
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    .card-medium,
    .card-small {
      grid-column: span 1;
    }
  }
}

.promo-card {
  position: relative;
  overflow: hidden;
  border-radius: px-to-rem(3);
  box-shadow: 0 px-to-rem(4) px-to-rem(12) rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: 100%;
    transform-origin: top;
    object-fit: cover;
    display: block;
    transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 50%);
    display: flex;
    align-items: flex-end;

    article {
      color: #fff;
      padding: px-to-rem(20);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

      h2 {
        font-size: px-to-rem(24);
        margin: 0;
        transition: transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-align: left;
        transform: translateY(px-to-rem(50));
        span {
          font-weight: bold;
        }
      }

      button {
        margin-top: px-to-rem(12);
        border-radius: px-to-rem(3);
        opacity: 0;
        transform: translateY(px-to-rem(300));
        transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        color: $text-color;
      }
    }
  }

  &:hover {
    img {
      transform: scale(1.1);
      transform-origin: top;
    }

    figcaption article {
      h2 {
        transform: translateY(px-to-rem(-10));
      }

      button {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

.reviews-section {
  text-align: center;
  padding: px-to-rem(90) px-to-rem(20) px-to-rem(90);
  background-color: $light-gray;

  h2 {
    font-size: px-to-rem(40);
    font-weight: 700;
    margin-bottom: px-to-rem(32);
    color: $text-color;
  }

  .reviews-carousel {
    @include container;
    position: relative;
    margin: 0 auto;

    .swiper-wrapper {
      display: flex;
      align-items: stretch;
    }

    .review-card {
      border-radius: px-to-rem(3);
      padding: px-to-rem(32);

      box-shadow: 0 px-to-rem(5) px-to-rem(20) rgba(0, 0, 0, 0.05);
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;

      h3 {
        font-size: px-to-rem(24);
        font-weight: 700;
        margin-bottom: px-to-rem(8);
      }

      .stars {
        color: gold;
        font-size: px-to-rem(19);
        margin-bottom: px-to-rem(16);
      }

      p {
        font-size: px-to-rem(16);
        margin-bottom: px-to-rem(24);
        color: $text-color;
      }

      figure {
        display: flex;
        align-items: center;
        gap: px-to-rem(12);

        img {
          width: px-to-rem(40);
          height: px-to-rem(40);
          border-radius: 50%;
          background: #eee;
        }

        figcaption {
          font-size: px-to-rem(14);

          strong {
            display: block;
            color: $text-color;
          }

          small {
            color: $text-color;
          }
        }
      }
    }
    .swiper-btn-grp {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: px-to-rem(16);
      margin-top: px-to-rem(40);
      .swiper-button-next,
      .swiper-button-prev {
        background-color: $text-color;
        color: white;
        width: px-to-rem(40);
        height: px-to-rem(40);
        border-radius: 50%;
        font-size: px-to-rem(16);
        box-shadow: 0 0 px-to-rem(8) rgba(0, 0, 0, 0.2);
        top: auto;
        bottom: 0;
        position: static;
      }
    }

    .swiper-pagination {
      margin-top: px-to-rem(32);
      text-align: center;
      display: flex;
      justify-content: flex-start;
      position: absolute;
      left: px-to-rem(32);
      bottom: px-to-rem(16);

      .swiper-pagination-bullet {
        background: $text-color;
        opacity: 0.2;

        &.swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }
  }
}



.hero-carousel {
  position: relative;
  width: 100%;
  height: 70vh;
  min-height: px-to-rem(500);
  overflow: hidden;

  .carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: none;
    align-items: center;

    &.slide-1 {
      background-image: url('../images/banner-slide1.jpg');
    }
    &.slide-2 {
      background-image: url('../images/banner-slide2.jpg');
    }
    &.slide-3 {
      background-image: url('../images/banner-slide3.jpg');
    }

    .container {
      @include container;
      flex-wrap: wrap;
      gap: px-to-rem(20);
      color: $text-color;
      width: 100%;
      padding: 0 px-to-rem(40);

      h2 {
        font-size: px-to-rem(40);
        font-weight: 700;
        margin-bottom: px-to-rem(16);
      }

      .highlight {
        font-size: px-to-rem(20);
        color: $text-color;
        margin-top: px-to-rem(16);
        font-weight: 600;
        span {
          font-weight: 700;
          color: $text-secondary-color;
        }
      }

      .subtext {
        font-size: px-to-rem(14);
        color: #777;
      }
    }
  }

  .carousel-dots {
    position: absolute;
    bottom: px-to-rem(20);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: px-to-rem(12);

    .dot {
      width: px-to-rem(12);
      height: px-to-rem(12);
      background-color: #bbb;
      border-radius: 50%;
      cursor: pointer;

      &.active {
        background-color: #333;
      }
    }
  }
}



@import "footer"; 